# === Docker & Deployment ===
.dockerignore
scripts/
Dockerfile
Makefile
docker-compose.yml
docker-compose.local.yml
docker-compose.test.yml
docker-compose.override.yml

# === Git ===
.git
.github
.gitignore

# === Python ===
__pycache__
*.pyc
*.pyo
*.pyd

# === IDE ===
.idea
.vscode

# === Environment ===
.env
.env.*
.venv
venv/
env/
ENV/

# === OS ===
*.log
*.pot
*.swo
*.swp
*.DS_Store
Thumbs.db

# === Local files ===
*.local

# === Database ===
*.sqlite
*.sqlite3
*.db
*.dump

# === Testing / coverage reports ===
tests/
htmlcov/
.pytest_cache/
.coverage

# === mypy ===
.mypy_cache/

# === Ruff ===
.ruff_cache/

# === Other ===
logs/
README.md
*.md
.pre-commit-config.yaml
